<head> 
        <meta charset="utf-8">
  
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <title>YJZ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="description">
      <meta property="og:type" content="website">
      <meta property="og:title" content="YJZ">
      <meta property="og:url" content="http://xtuer.github.io/index.html">
      <meta property="og:site_name" content="YJZ">
      <meta property="og:description" content="description">
      <meta property="og:locale" content="default">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="YJZ">
      <meta name="twitter:description" content="description">
        
          <link rel="alternative" href="/atom.xml" title="YJZ" type="application/atom+xml">
        
        
          <link rel="icon" href="/img/cat.jpg">
        
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
        <link rel="stylesheet" href="{{__HOST__}}/default/css/style.css">
        <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="//cdn.staticfile.org/layer/2.3/layer.js"></script>
        <script src="//cdn.bootcss.com/require.js/2.2.0/require.min.js"></script>
        <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      
          <script>
          // 百度统计
          var _hmt = _hmt || [];
          (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?22778d8041aa1437b11529a3e87a0a12";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
          })();
          </script>
      
</head>