
  <div id="container">
    <div class="left-col">
    <div class="overlay"></div>

<ul class="menu">
    <!-- <li class="item"><a href="javascript:void(0)" id="baidu-search-button">百度搜索</a></li> -->
    <!-- <li class="item"><a href="javascript:void(0)" id="google-search-button">谷歌搜索</a></li> -->
    <!-- <li class="item non-index-item"><a href="javascript:void(0)" id="show-toc-button">显示目录</a></li> -->
</ul>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="/" class="profilepic">
			
			<img src="/img/cat.jpg" class="js-avatar" style="width: 100%;height: 100%;opacity: 1;">
			
		</a>

		<hgroup>
		  <h1 class="header-author"><a href="/">YJZ</a></h1>
		</hgroup>
		<p style=" margin-bottom: 10px;margin-top: -5px;">
			<a style="color: gray;" href="http://wpa.qq.com/msgrd?v=3&uin=359857282&site=qq&menu=yes">QQ: 359857282</a>
		</p>

		
		<p class="header-subtitle">header-subtitle</p>
		
		
			<div class="switch-btn">
				<div class="icon">
					<div class="icon-ctn">
						<div class="icon-wrap icon-ribbon" data-idx="1">
							<div class="ribbon"></div>
						</div>
						<div class="icon-wrap icon-house hide" data-idx="0">
							<div class="birdhouse"></div>
							<div class="birdhouse_holes"></div>
						</div>
						
						<div class="icon-wrap icon-link hide" data-idx="2">
							<div class="loopback_l"></div>
							<div class="loopback_r"></div>
						</div>
						
						
						<div class="icon-wrap icon-me hide" data-idx="3">
							<div class="user"></div>
							<div class="shoulder"></div>
						</div>
						
					</div>

				</div>
				<div class="tips-box hide">
					<div class="tips-arrow"></div>
					<ul class="tips-inner">
						<li>Tags</li>
						<li>Menu</li>						
						<li>Links</li>
						<li>About</li>
						
					</ul>
				</div>
			</div>
		

		<div class="switch-area">
			<div class="switch-wrap">
				
				<section class="switch-part switch-part1">
					<!-- <div class="widget tagcloud" id="js-tagcloud"> -->
                    <div class="widget tagcloud" id="js-tagcloud">
                        {{each tags}}
                        <a href="/tags/{{$value.tagname}}/" style="font-size: 12px;" class="color3">{{$value.tagname}}</a>
                        {{/each}}
					</div>
				</section>
				

				<section class="switch-part switch-part2">
					<nav class="header-menu">
						<ul>
						
							<li><a href="/">主页</a></li>
				        
							<li><a href="/archives">所有文章</a></li>
				        
						</ul>
					</nav>
					<nav class="header-nav">
						<div class="social">
							
						</div>
					</nav>
				</section>

				
				<section class="switch-part switch-part3">
					<div id="js-friends">
					
			          <a target="_blank" class="main-nav-link switch-friends-link" href="http://www.edu-edu.com">华夏大地教育网</a>
			        
			        </div>
				</section>
				

				
				
				<section class="switch-part switch-part4">
				
					<div id="js-aboutme">吞风吻雨葬落日未曾彷徨，欺山赶海践雪径也未绝望，拈花把酒偏折煞世人情狂，凭这两眼与百臂或千手不能防，天阔阔雪漫漫共谁同航，这沙滚滚水皱皱笑着浪荡，贪欢一晌偏教那女儿情长埋葬。</div>
				</section>
				
			</div>
		</div>
        <div class="links-area" style="margin-top: 10px;">
            <a href="/qtbook">Qt 杂谈</a>
            <a href="/spring-web-index">Java Web 开发</a>
        </div>
	</header>
</div>

<script>
    $(document).ready(function() {
        // Baidu 搜索
        $('#baidu-search-button').click(function(event) {
            layer.prompt({title: false, formType: 0, closeBtn: 0, maxlength: 140}, function(text, index) {
                layer.close(index);
                window.open('https://www.baidu.com/s?wd=site:qtdebug.com+'+text);
            });
        });

        // Google 搜索
        $('#google-search-button').click(function(event) {
            layer.prompt({title: false, formType: 0, closeBtn: 0, maxlength: 140}, function(text, index) {
                layer.close(index);
                window.open('https://www.google.com/?#q=site:qtdebug.com+'+text);
            });
        });
    });
</script>

    </div>
    <div class="mid-col">
      <nav id="mobile-nav">
  	<div class="overlay">
  		<div class="slider-trigger"></div>
  		<!-- <h1 class="header-author js-mobile-header hide">公孙二狗</h1> -->
  	</div>
	<div class="intrude-less">
		<header id="header" class="inner">
			<div class="profilepic">
			
				<img src="/img/dog.png" class="js-avatar" style="width: 100%;height: 100%;opacity: 1;">
			
			</div>
			<hgroup>
			  <!-- <h1 class="header-author">公孙二狗</h1> -->
			</hgroup>
			
			<!-- <p class="header-subtitle">大圣，此去欲何？踏南天，碎凌霄。若一去不回……？便一去不回！</p> -->
			
			<nav class="header-menu">
				<ul>
				
					<li><a href="/">主页</a></li>
		        
					<li><a href="/archives">所有文章</a></li>
		        
		        <div class="clearfix"></div>
				</ul>
			</nav>
			<nav class="header-nav">
				<div class="social">
					
				</div>
			</nav>
		</header>				
	</div>
</nav>